In [9]:
import sqlite3
import pandas

In [3]:
conn = sqlite3.connect('nft_database.db')
c = conn.cursor()
conn.enable_load_extension(True)

In [4]:
c.execute("""CREATE TABLE meebits(
        block_number integer,
        block_timestamp text,
        block_hash text,
        transaction_hash text,
        transaction_index integer,
        log_index integer,
        value integer,
        contract_type text,
        transaction_type text,
        token_address text,
        token_id integer,
        from_address text,
        to_address text,
        amount integer,
        verified integer,
        operator text
    )""")

In [8]:
df = pandas.read_csv(csvfile)
df.to_sql(table_name, conn, if_exists='append', index=False)

OperationalError: near ".": syntax error